<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean name="commandQueue" class="java.util.concurrent.LinkedBlockingQueue" >
    </bean>
    <bean class="org.destinyshine.jenode.commanding.kafka.KafkaCommandPublishService" >
        <property name="kafkaProducer" ref="" />
    </bean>

    <bean class="org.destinyshine.jenode.commanding.kafka.KafkaCommandObserver">
        <property name="commandQueue" ref="commandQueue"/>
        <property name="commandDispatcher" ref="commandDispatcher" />
    </bean>

    <bean name="commandDispatcher" class="org.destinyshine.jenode.commanding.CommandDispatcher">
        <property name="commandHandlerMapping">
            <bean class="org.destinyshine.jenode.commanding.method.AnnotationCommandHandlerMapping"></bean>
        </property>
        <property name="commandHandlerAdapter">
            <bean class="org.destinyshine.jenode.commanding.method.AnnotationCommandHandlerAdapter"></bean>
        </property>
    </bean>

</beans>