<beans xmlns="http://www.springframework.org/schema/beans">
    <bean class="test.DefaultMQProducerFactoryBean">
        <property name="nameServer" value="" />
    </bean>

    <bean class="test.DefaultMQPushConsumerFactoryBean">
        <property name="nameServer" value="" />
    </bean>

</beans>